* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  width: 98%;
  margin: 0 auto;
  color: #333;
  background-color: #c5c5c5ec;
}

h2 {
  margin-top: 20px;
}
.student-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.student-photo {
  border-radius: 20px;
  margin-bottom: 10px;
}

.student-bio {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.education li,
.goals li,
.projects li {
  display: block;
  margin-bottom: 0px;
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  height: auto;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
